<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-3 fw-bolder">
    <%= image_tag "sparklebot-logo-trans.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
    Sparkles
    <%= image_tag "sparklebot-logo-trans.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
  </h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Sparkles is a shiny, little Slack app for recognizing your fellow Postmanauts!
      Use the <code>/sparkle</code> command in any channel  
      to say &#10024; thank you &#10024;  or "Well done!" with a sparkle.  Click the "Sign in with Slack" button below
      to checkout your own sparkle points and check the Postman scoreboard.
    </p>

    
  <p class="lead mb-4"><%= sign_in_with_slack_button(state: @state, nonce: @nonce) %></p>
</div>

    

    <figure class="figure onboarding-figure">
      <%= image_tag "give-a-sparkle.png", alt: "Use the /sparkle command to give a sparkle", class: "figure-img img-fluid rounded border" %>
      <figcaption class="figure-caption fw-bolder fs-3">Say "thank you" with a sparkle!</figcaption>
    </figure>

      <figure class="figure onboarding-figure">
      <%= image_tag "check-the-leaderboard.png", alt: "An example sparkle leaderboard", class: "figure-img img-fluid rounded border" %>
      <figcaption class="figure-caption fw-bolder fs-3">Check your team's leaderboard!</figcaption>
    </figure>
  </div>
</div>
